body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    color: #333;
    text-align: center;
    margin-bottom: 50px;
  }
  
  .job-listing {
    background-color: #fafafa;
    padding: 20px;
    margin-bottom: 30px;
    border-left: 5px solid #4CAF50;
  }
  
  .job-listing h2 {
    color: #333;
  }
  
  .apply-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
  }
  
  .apply-button:hover {
    background-color: #367c39;
  }
  
  .apply-form {
    padding: 20px;
    background-color: #fff;
    margin-top: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    color: #666;
  }
  
  input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
    transition: border-color 0.3s ease;
  }
  
  input:focus, select:focus, textarea:focus {
    border-color: #4CAF50;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #d73833;
  }
  .review {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
  }
  .images {
    text-align: center;
    margin-top: 20px;
  }
  .feedback-button {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
  }
  .feedback-form {
    display: none;
    margin-top: 20px;
    text-align: center;
  }
  .feedback-form input,
  .feedback-form textarea {
    display: block;
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .submit-button {
    display: block;
    width: 200px;
    margin: 10px auto;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
  }